{% extends "_base.html" %}
{% set active='user' %}
{% include "_navbar.html" %}
{% block content %}

<title>Profil</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/view/garden.css') }}">

{% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="notification-parent">
                    <p class="notification error">{{ message }}</p>
                </div>
            {% endfor %}
        {% endif %}
{% endwith %}
    
<div class="portal-container">
    <div class="handler-display-data">
        <div class="top">
            <div>
                <b class="brown-orange-style">Mon jardin :</b>
                <span>{{jardin.name}}</span>
            </div>
            <div>
                <a href="{{url_for('controller.new_garden')}}">Créer un nouveau jardin</a>
                <a href="{{url_for('controller.new_garden')}}">Modifier mon jardin</a>
            </div>
        </div>
        <div>
            <span>
                <b class="brown-orange-style">Trouver un autre jardin :</b> <br>
            </span>
            <table class="table-all">
                <tbody>
                    <tr>
                        <th>Nom du jardin</th>
                        <th>Monnaie</th>
                        <th>Choisir</th>
                    </tr>
                    {% for jardin in jardins %}
                    <tr>
                        <th>{{jardin.name}}</th>
                        <th>{{jardin.moneyName}}</th>
                        <th><a href="{{url_for('controller.choose', choose=jardin.idJardin)}}">Choose</a></th>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div> 
    </div>
</div>
{% endblock %}
