{% extends "_base.html" %}
{% set active='user' %}
{% include "_navbar.html" %}
{% block content %}

<title>Profil</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/view/garden.css') }}">

{% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="notification-parent">
                    <p>{{ message }}</p>
                </div>
            {% endfor %}
        {% endif %}
{% endwith %}
    
<div class="portal-container">
    <div class="handler-display-data">
        <div class="top">
            <div class="attributs">
                <div>
                    {% if jardin.name|length == 0 %}
                        <b class="brown-orange-style">Mon jardin :</b>
                        <span>Vous n'avez pas de jardin</span>
                    </div>
                    {% else %}
                        <b class="brown-orange-style">Mon jardin :</b>
                        <span>{{jardin.name}}</span>
                        <br>
                        <b class="brown-orange-style">Monnaie :</b>
                        <span>{{jardin.moneyName}}</span>
                    </div>
                    <div>
                        <b class="brown-orange-style">Ville :</b>
                        <span>{{jardin.ville}}</span>
                        <br>
                        <b class="brown-orange-style">Adresse :</b>
                        <span>{{jardin.adresse}}</span>
                    </div>
                    <div>
                        <b class="brown-orange-style">Role :</b>
                        <span>{{user.role}}</span>
                    </div>
                    {% endif %}
            </div>
            <div class="right">
                {% if user.role == 'Participant' %}
                    <a href="{{url_for('controller.new_garden')}}">Créer un nouveau jardin</a>
                {% endif %}
                <!-- To modify it must be your own garden -->
                {% if user.role != 'Participant' %}
                    <a href="{{url_for('controller.modify_garden')}}">Modifier mon jardin</a>
                {% endif %}
                <!-- To leave a garden we must be a participant that is in a garden -->
                {% if user.idJardin|length != 0 %}
                    {% if user.role == 'Participant' %}
                        <a href="{{url_for('controller.leave')}}">Quitter mon jardin</a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        <div>
            <span>
                <b class="brown-orange-style">Trouver un autre jardin :</b> <br>
            </span>
            <form method="POST" class="display_form">
                <input class="input" type="text" name="filtreNom" placeholder="Nom du jardin"></input>
                <input class="input" type="text" name="filtreDescription" placeholder="Description du jardin"></input>
                <input class="input" type="text" name="filtreMonnaie" placeholder="Monnaie du jardin"></input>
                <button class="button" type="submit">Search</button>
            </form>
            <table class="table-all">
                <thead>
                    <tr>
                        <th>Nom du jardin</th>
                        <th>Description</th>
                        <th>Monnaie</th>
                        <th>Ville</th>
                        <th>Adresse</th>
                        <th>Choisir</th>
                    </tr>
                </thead>
                <tbody>
                    {% for jardin in jardins %}
                    <tr>
                        <th>{{jardin.name}}</th>
                        <th>{{jardin.description}}</th>
                        <th>{{jardin.moneyName}}</th>
                        <th>{{jardin.ville}}</th>
                        <th>{{jardin.adresse}}</th>
                        <th><a href="{{url_for('controller.choose', choose=jardin.idJardin)}}">Choose</a></th>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div> 
    </div>
</div>
{% endblock %}
