{% extends "_base.html" %}
{% block content %}

{% set active="market" %}
{% include "_navbar.html" %}

<div id="market_product">
    <div id="market_product_header">
        <p>{{ product.name }}</p>
        <img src="{{ url_for('static', filename='image/vegetables/' + product.imagePath) }}" alt="image de {{ product.name }}">
        <p>{{ product.description }}</p>
    </div> 

    <div id="market_product_sellings">
        {% if not sellings %}
            <p>Aucune vente n'est actuellement disponible</p>
        {% else %}
            {% for selling in sellings %}
                <div class="market_product_selling">
                    <span class="quantity">{{ selling.quantity }}kg disponible</span>
                    <span class="selling_date">{{ selling.date }}</span>
                    <span class="price">{{ selling.cost }} {{ garden.moneyName }}/kg</span>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}