{% extends "_base.html" %}
{% block content %}

{% set active="market" %}
{% include "_navbar.html" %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/view/market/market.css') }}">

<div id="market">
    <div id="market_top">
        <p>Que voulez-vous acheter ?</p>
    </div>
    
    <div id="market_filters">
        <div id="market_search_by_name">
            <p>Nom : </p>
            <input type="text" id="research_bar" placeholder="Rechercher un article">         
        </div>

        <div id="market_filters_type">
            <p>Type : </p>
            <select name="type" id="type">
                <option value="all">Tous</option>
                <option value="fruit">Fruit</option>
                <option value="legume">Légume</option>
                <option value="plante">Plante aromatique</option>
            </select>   
        </div>

        <div id="market_sort">
            <p>Trier par :</p>
            <select name="sort" id="sort">
                <option value="name">Nom</option>
                <option value="price">Prix</option>
                <option value="type">Type</option>
                <option value="quantity">Quantité</option>
            </select>
        </div>
    </div>

    {% if not produits %}
        <div id="market_no_product">
            <p>Aucun produit n'est actuellement disponible</p>	
        </div>
    {% else %}
    <div id="market_products">
        {% for produit in produits %}

        {% set url = url_for('controller.market_product', product = produit.name ) %} 
        <div class="product searching_items" style="cursor: pointer;" onclick="window.location='{{url}}';">
            <img src="{{ url_for('static', filename='image/vegetables/' + produit.imagePath) }}" alt="{{ produit.name }}" class="product_img">
            <div class="product_type">
                {{ produit.type }}
            </div>

            <div class="product_name searching_property">
                <p>{{ produit.name }}</a>
            </div>
            
            <div class="product_quantity">
                <p>{{ "%.2f" % produit.quantity }} kg disponibles</p>
            </div>

            <div class="product_cheaper_price">
                <p>Le moins cher : {{ "%.2f" % produit.cheaper_price }} {{ garden.moneyName }}/kg</p>
            </div>

        </div>
        {% endfor %}
    </div>
    {% endif %}


</div>

<script src="{{ url_for('static', filename='js/research_bar.js') }}"></script>
{% endblock %}