{% extends "_base.html" %}
{% set active='user' %}
{% include "_navbar.html" %}
{% block content %}

<title>Profil</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/view/new_garden.css') }}">

<div class="portal-container">
    <div class="handler-display-data">
            <form action="/account" method="post" class="handler-display-data" id="update-account">
                <input type="hidden" name="_method" value="put"/>
                <div class="left top">
                    <b class="brown">Créer un nouveau jardin :</b> <br>
                    <input class="input" type="text" name="create" value="">
                </div>
                <div class="right top">
                    <b class="brown">Capacité :</b> <br>
                    <input class="input" type="text" name="capacite" value="">
                </div>
                <div class="right middle">
                    <b class="brown">Nom de la monnaie :</b> <br>
                    <input class="input" type="text" name="capacite" value="">
                </div>
                <div class="middle left">
                    <select class="box">
                        <option>Coffee</option>
                        <option>Tea</option>
                        <option>Juice</option>
                        <option selected>Cocktail</option>
                    </select>
                </div>
                <div class="button-panel right bottom">
                    <button class="red">Annuler</button>
                    <button class="green">Valider</button>
                </div>
            </form>
    </div>
</div>
{% endblock %}
