{% extends "_base.html" %}
{% set active='user' %}
{% include "_navbar.html" %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/view/new_garden.css') }}">
<title>Créer un jardin</title>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="notification-parent">
                    <p class="notification error">{{ message }}</p>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
<div class="portal-container">
    <div class="container">
        <form method="POST">
            <input class="input" type="text" name="nom" placeholder="Nom du jardin" required>
            <textarea class="area" placeholder="Description du jardin" type="textarea" name="description" id="description" rows="4" cols="50"></textarea>
            <input class="input" type="text" name="monnaie" placeholder="Nom de la monnaie" required>
            <input class="input" type="text" name="adresse" placeholder="Adresse" required>
            <input class="input" type="text" name="ville" placeholder="Ville" required>
            <div class="display_buttons_inline">
                <input class="button" type="submit" value="Créer">
                <button><a href="{{url_for('controller.garden')}}">Annuler</a></button>
            </div>
        </form>
    </div>
</div>

{% endblock %}

