{% extends "_base.html" %}
{% set active='user' %}
{% include "_navbar.html" %}
{% block content %}

<title>Profil</title>

dfhuzfuzf$zf
zf
<br>
zf
fzf
f
<button onclick="displayMenu()">zfjifhjuzfs</button>
zf<br>
zf<br>
zf<br>
zf<br>
zf<br>
zf<br>
zf<br>
zf<br>
zf<br>
zf<br>
zf<br>
zf<br>
zf<br>
zf<br>
zf<br>
zf<br>
zf<br>
zf<br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
dh
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
zff

{% endblock %}
