{% extends "quests_list.html" %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/view/quests/user_quests_list.css') }}">
{% endblock %}

{% block message_no_quest %}
<p id="message_no_quest">Vous n'avez pas encore accepté de quête</p>
{% endblock %}




{% block quest %}     
<div class="quest_checkbox">
    <input type="checkbox" name="quest" value="{{ quest.idQuete }}">
</div>

<div class="quest_title">
    <a href="{{ url_for('controller.display_quest', quest_id=quest.idQuete) }}">{{ quest.title }}</a>
</div>  



<div class="time_left">
    {% if quest.timeBeforeExpiration %}
            {% set timeLeft = quest.timeBeforeExpiration - (today - quest.startingDate).days %}
            <p>Temps restant : {{ timeLeft }} {% if timeLeft > 1 %} jours {% else %} jour {% endif %}</p>
    {% endif %}
</div> 

<div class="estimated_time">
    {% if quest.estimatedTime %}
        {% set minutes = quest.estimatedTime%60 %}
        {% set hours = quest.estimatedTime//60 %}

        
            <p>
                {% if hours > 0 %}
                    Temps estimé : {{ hours }}h
                {% endif %}
                {{ minutes }}min
            </p>
        
    {% endif %}
</div>

<div class="reward">
    <p>{{ quest.reward }} {{ garden.moneyName }}</p>
</div>
{% endblock quest %}
