{% extends "_base.html" %}
{% block content %}

{% include "_navbar.html" %}



<title>Quêtes</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/view/quests/quests_list.css') }}">
{% block css %}{% endblock %}

<div class="container">
    <a class="quest_button" id="button_available_quests" href="{{ url_for('controller.list_garden_quests')}}">Quêtes disponibles</a> 
    <a class="quest_button" id="button_my_quests" href="{{ url_for('controller.list_user_quests')}}">Mes quêtes</a>
    
    {% if quests | length== 0 %}
        {% block message_no_quest required %}{% endblock %} 
    {% else %}
    <div class="quests_container">
        
        {% for quest in quests %}    
            {% set url = url_for('controller.display_quest', quest_id=quest.idQuete) %} 
            <div class="quest" style="cursor: pointer;" onclick="window.location='{{url}}';"> 
                {% block quest scoped required %}{% endblock %}    
            </div>
        {% endfor %}
        </div>
    {% endif %}
</div> 
{% endblock %}