.portal-container {
    align-self: left;
    margin: auto auto;
    width: 100vw;
    padding: 2em 10%;
}

.brown-orange-style {
    color: var(--brown-orange);
    font-size: large;
}

.green {
    background: var(--green);
}

.brown {
    background: var(--brown-orange);
}

.top{
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: large;
}

.right{
    display: grid;
    justify-items: end;
    grid-template-rows: 1fr 1fr 1fr;
}

.button-panel > button {
    padding: 0.6em;
    margin: 0.2em 1em;
    font-size: x-large;
    cursor: pointer;
    border: 1px solid var(--background-third);
    color: var(--background-secondary);
    border-radius: 9px;
}

.handler-display-data {
    display: grid;
    height: 100%;
    grid-template-rows: 15% 85%;
}

.table-all {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table;
    border: 1px solid #ccc;
}

.display_form{
    padding: 10px;
}

.table-all tbody th {
    padding: 8px 8px;
    display: table-cell;
    text-align: middle;
}

.table-all tr:nth-child(odd){
    background-color: var(--background-secondary);
  }

.table-all thead th{
    vertical-align: middle;
    color: var(--green);
    background-color: darkgray;
    font-size: large;
}

.notification-parent{
    font-size: large;
    text-align: center;
    padding-top: 20px;
}

.attributs{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.input {
    margin: 3px 10px 3px 0;
    padding: 8px;
    font-size: medium;
    width: 20%;
}

.button{
    margin: 3px 10px 3px 0;
    padding: 8px;
    font-size: medium;
    width: 5em;
}

.button_edit{
    margin: 3px 10px 3px 0;
    padding: 8px;
    font-size: medium;
    width: 5em;
}

a:link { text-decoration: none; }

@media only screen and (max-width: 800px) {
    .handler-display-data {
        display: grid;
        height: 100%;
        grid-template-rows: 30% 70%;
    }
}