.portal-container {
    align-self: left;
    margin: auto auto;
    width: 100vw;
    padding: 2em 10%;
}

.brown-orange-style {
    color: var(--brown-orange);
}

.green {
    background: var(--green);
}

.brown {
    background: var(--brown-orange);
}

.top{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.right{
    display: grid;
    justify-items: end;
}

.button-panel > button {
    padding: 0.6em;
    margin: 0.2em 1em;
    font-size: x-large;
    cursor: pointer;
    border: 1px solid var(--background-third);
    color: var(--background-secondary);
    border-radius: 9px;
}

.handler-display-data {
    display: grid;
    height: 100%;
    grid-template-rows: 10% 90%;
}

.table-all {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table;
    border: 1px solid #ccc;
    background-color: var(--background-secondary);
}

.display_form{
    padding: 10px;
}

.table-all tbody th {
    padding: 8px 8px;
    display: table-cell;
    text-align: middle;
}

.table-all thead th{
    vertical-align: middle;
    color: var(--green);
}
