.portal-container {
    align-self: center;
    margin: auto auto;
    width: 100vw;
    padding: 2em 10%;
}

.container{
    background-color: var(--background-secondary);
}

form {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

form label {
    margin: 5px 10px 5px 0;
}

form input {
    margin: 5px 10px 5px 0;
    padding: 10px;
}

button{
    margin: 5px 10px 5px 0;
    padding: 10px;
    margin: 5px 10px 5px 0;
}

a:link { text-decoration: none; }