.quest_button{
    margin-left:2%;
    margin-top: 10px;
    border: none;
    font-size: 1.5em;
    display: inline-block;
    background-color: transparent;
    text-decoration : none;
}

#message_no_quest{
    font-size: 1.3em;
    margin : 20px 0 0 10%;
    display: block;
}

.quests_container{
    margin-top : 20px;
    display : flex;
    flex-direction: column;
    gap : 10px;
}

.quest{
    display : grid;
    column-gap: 8px;
    border : 1px solid black;
    border-radius : 5px;
    box-shadow: 1px 1px 1px black;
    align-self: center;
    min-height: 50px;
    width : 80%;
    background-color: #F7F7F7;
}

.quest_checkbox{
    text-align: center;
    justify-self: center;
    grid-column: 1;
    grid-row: 1/3;
}


.quest_title{
    color:black;
    font-size: 20px;    
}

.quest_title a{
    color:black;
}

.estimated_time p{
    color:grey;
    font-size: 13px;
}





