#button_available_quests{
    opacity: 0.2;
}

#button_available_quests:hover{
    opacity: 0.6;
}

#button_my_quests:hover{
    text-shadow: 0px 0px 1px var(--green);
}



.quest_checkbox input{
    margin : 15% auto 10% auto;
    display : inline-block;
    width: 2em;
    height: 2em;
}

input[type="checkbox"]:checked:before{
    content: '';
    background: var(--green);
}